In [3]:
import os
import sys

src_path = os.path.abspath("../../..")
print(src_path)
sys.path.append(src_path)

/Users/zzachw/Projects/13_pyhealth/PyHealth

In [4]:
resource_directory = os.path.abspath("./resource")
resource_directory

'/Users/zzachw/Projects/13_pyhealth/PyHealth/pyhealth/medcode/dev/resource'

In [5]:
import pandas as pd
import re

## ICD9CM

### base

In [4]:
""" https://bioportal.bioontology.org/ontologies/ICD9CM """

raw_data = pd.read_csv(os.path.join(resource_directory, "raw/ICD9CM.csv"))
raw_data["code"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-1])
raw_data["vocab"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-2])
raw_data["parent_code"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-1] if not pd.isna(x) else ""
)
raw_data["parent_vocab"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-2] if not pd.isna(x) else ""
)
raw_data["name"] = raw_data["Preferred Label"]
# exclude non icd9 codes
raw_data = raw_data[raw_data.vocab == "ICD9CM"]
# exclude icd9proc codes
# icd9cm codes: 001-999.99, icd9proc: 00.00-99.99
raw_data = raw_data[raw_data.code.apply(lambda x: len(re.split("\.|-", x)[0]) > 2)]
data = raw_data[["code", "parent_code", "name"]]
# exclude non ICD9CM parent code
invalid_parents = list(set(data.parent_code.unique()) - set(data.code.unique()))
data = data.replace({"parent_code": invalid_parents}, "")
data.to_csv(os.path.join(resource_directory, "processed/ICD9CM.csv"), index=False)
data.head()

     code parent_code                                               name
0  806.11       806.1  Open fracture of C1-C4 level with complete les...
1  642.41       642.4  Mild or unspecified pre-eclampsia, delivered, ...
2  647.13       647.1  Gonorrhea of mother, complicating pregnancy, c...
3  374.21       374.2                            Paralytic lagophthalmos
4  679.00       679.0  Maternal complications from in utero procedure...

### to CCSCM

In [5]:
def normalize_icd9cm(code: str):
    """Normalize ICD9CM code"""
    if code.startswith("E"):
        assert len(code) >= 4
        if len(code) == 4:
            return code
        return code[:4] + "." + code[4:]
    else:
        assert len(code) >= 3
        if len(code) == 3:
            return code
        return code[:3] + "." + code[3:]


normalize_icd9cm("01000")

'010.00'

In [6]:
"""https://www.hcup-us.ahrq.gov/toolssoftware/ccs/ccs.jsp"""

mapping = {}
with open(os.path.join(resource_directory, "raw/$dxref 2015.csv")) as f:
    lines = f.readlines()
    for line in lines[3:]:
        line = line.split(",")
        icd9cm_code = line[0].strip("'").strip()
        ccscm_code = line[1].strip("'").strip()
        assert icd9cm_code not in mapping
        mapping[icd9cm_code] = ccscm_code
data = {"ICD9CM": mapping.keys(), "CCSCM": mapping.values()}
data = pd.DataFrame.from_dict(data)
data.ICD9CM = data.ICD9CM.map(normalize_icd9cm)
data.to_csv(
    os.path.join(resource_directory, "processed/ICD9CM_to_CCSCM.csv"), index=False
)
data.head()

   ICD9CM CCSCM
0  010.00     1
1  010.01     1
2  010.02     1
3  010.03     1
4  010.04     1

## CCSCM

### base

In [127]:
""" https://www.hcup-us.ahrq.gov/toolssoftware/ccs/ccs.jsp """

data = {}
with open(os.path.join(resource_directory, "raw/dxlabel 2015.csv")) as f:
    lines = f.readlines()
    for line in lines[4:]:
        line = line.split(",")
        code = line[0].strip("'").strip()
        name = line[1].strip("'").strip()
        data[code] = {"name": name}
data = (
    pd.DataFrame.from_dict(data, orient="index")
    .reset_index()
    .rename(columns={"index": "code"})
)
data.to_csv(os.path.join(resource_directory, "processed/CCSCM.csv"), index=False)
data.head()

  code                                               name
0    1                                       Tuberculosis
1   10  Immunizations and screening for infectious dis...
2  100                        Acute myocardial infarction
3  101   Coronary atherosclerosis and other heart disease
4  102                             Nonspecific chest pain

## ICD9PROC

### base

In [8]:
""" https://bioportal.bioontology.org/ontologies/ICD9CM """

raw_data = pd.read_csv(os.path.join(resource_directory, "raw/ICD9CM.csv"))
raw_data["code"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-1])
raw_data["vocab"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-2])
raw_data["parent_code"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-1] if not pd.isna(x) else ""
)
raw_data["parent_vocab"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-2] if not pd.isna(x) else ""
)
raw_data["name"] = raw_data["Preferred Label"]
# exclude non icd9 codes
raw_data = raw_data[raw_data.vocab == "ICD9CM"]
# exclude icd9cm codes
# icd9cm codes: 001-999.99, icd9proc: 00.00-99.99
raw_data = raw_data[raw_data.code.apply(lambda x: len(re.split("\.|-", x)[0]) <= 2)]
data = raw_data[["code", "parent_code", "name"]]
# exclude non icd9proc parent code
invalid_parents = list(set(data.parent_code.unique()) - set(data.code.unique()))
data = data.replace({"parent_code": invalid_parents}, "")
data.to_csv(os.path.join(resource_directory, "processed/ICD9PROC.csv"), index=False)
data.head()

     code parent_code                                               name
16  94.62        94.6                             Alcohol detoxification
17  94.69        94.6  Combined alcohol and drug rehabilitation and d...
18   94.6          94  Alcohol and drug rehabilitation and detoxifica...
19  94.61        94.6                             Alcohol rehabilitation
20  94.67        94.6           Combined alcohol and drug rehabilitation

### to CCSPROC

In [9]:
def normalize_icd9proc(code: str):
    """Normalize ICD9PROC code"""
    assert len(code) >= 2
    if len(code) == 2:
        return code
    return code[:2] + "." + code[2:]


normalize_icd9proc("6111")

'61.11'

In [10]:
"""https://www.hcup-us.ahrq.gov/toolssoftware/ccs/ccs.jsp"""

mapping = {}
with open(os.path.join(resource_directory, "raw/$prref 2015.csv")) as f:
    lines = f.readlines()
    for line in lines[3:]:
        line = line.split(",")
        icd9proc_code = line[0].strip("'").strip()
        ccsproc_code = line[1].strip("'").strip()
        assert icd9proc_code not in mapping
        mapping[icd9proc_code] = ccsproc_code

data = {"ICD9PROC": mapping.keys(), "CCSPROC": mapping.values()}
data = pd.DataFrame.from_dict(data)
data.ICD9PROC = data.ICD9PROC.map(normalize_icd9proc)
data.to_csv(
    os.path.join(resource_directory, "processed/ICD9PROC_to_CCSPROC.csv"), index=False
)
data.head()

  ICD9PROC CCSPROC
0    01.01       1
1    01.09       1
2    01.21       1
3    01.22       1
4    01.23       1

## CCSPROC

### base

In [129]:
""" https://www.hcup-us.ahrq.gov/toolssoftware/ccs/ccs.jsp """

data = {}
with open(os.path.join(resource_directory, "raw/prlabel 2014.csv")) as f:
    lines = f.readlines()
    for line in lines[4:]:
        line = line.split(",")
        code = line[0].strip('"').strip()
        name = line[1].strip('"').strip()
        data[code] = {"name": name}
data = (
    pd.DataFrame.from_dict(data, orient="index")
    .reset_index()
    .rename(columns={"index": "code"})
)
data.to_csv(os.path.join(resource_directory, "processed/CCSPROC.csv"), index=False)
data.head()

  code                                               name
0    1                      Incision and excision of CNS"
1   10                Thyroidectomy; partial or complete"
2  100  Endoscopy and endoscopic biopsy of the urinary...
3  101  Transurethral excision; drainage; or removal u...
4  102                          Ureteral catheterization"

## ICD10CM

### base

In [12]:
""" https://bioportal.bioontology.org/ontologies/ICD10CM """

raw_data = pd.read_csv(os.path.join(resource_directory, "raw/ICD10CM.csv"))
raw_data["code"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-1])
raw_data["vocab"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-2])
raw_data["parent_code"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-1] if not pd.isna(x) else ""
)
raw_data["parent_vocab"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-2] if not pd.isna(x) else ""
)
raw_data["name"] = raw_data["Preferred Label"]
# # exclude non icd10cm codes
raw_data = raw_data[raw_data.vocab == "ICD10CM"]
data = raw_data[["code", "parent_code", "name"]]
# exclude non icd10cm parent code
invalid_parents = list(set(data.parent_code.unique()) - set(data.code.unique()))
data = data.replace({"parent_code": invalid_parents}, "")
data.to_csv(os.path.join(resource_directory, "processed/ICD10CM.csv"), index=False)
data.head()

      code parent_code                                               name
0  Z62.811      Z62.81  Personal history of psychological abuse in chi...
1   Z01.81       Z01.8           Encounter for preprocedural examinations
2   Z01.89       Z01.8  Encounter for other specified special examinat...
3    Z01.8         Z01  Encounter for other specified special examinat...
4   Z01.82       Z01.8                      Encounter for allergy testing

### to CCSCM

In [13]:
def normalize_icd10cm(code: str):
    """Normalize ICD10CM code"""
    assert len(code) >= 3
    if len(code) == 3:
        return code
    return code[:3] + "." + code[3:]


normalize_icd10cm("Y9284")

'Y92.84'

In [14]:
"""https://www.hcup-us.ahrq.gov/toolssoftware/ccsr/ccsr_archive.jsp#ccsr"""

mapping = {}
with open(os.path.join(resource_directory, "raw/ccs_dx_icd10cm_2019_1.csv")) as f:
    lines = f.readlines()
    for line in lines[1:]:
        line = line.split(",")
        icd10cm_code = line[0].strip("'").strip()
        ccscm_code = line[1].strip("'").strip()
        assert icd10cm_code not in mapping
        mapping[icd10cm_code] = ccscm_code
data = {"ICD10CM": mapping.keys(), "CCSCM": mapping.values()}
data = pd.DataFrame.from_dict(data)
data.ICD10CM = data.ICD10CM.map(normalize_icd10cm)
data.to_csv(
    os.path.join(resource_directory, "processed/ICD10CM_to_CCSCM.csv"), index=False
)
data.head()

  ICD10CM CCSCM
0   A15.0     1
1   A15.4     1
2   A15.5     1
3   A15.6     1
4   A15.7     1

## ICD10PROC

### base

In [15]:
""" https://bioportal.bioontology.org/ontologies/ICD10PCS """

raw_data = pd.read_csv(os.path.join(resource_directory, "raw/ICD10PCS.csv"))
raw_data["code"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-1])
raw_data["vocab"] = raw_data["Class ID"].apply(lambda x: x.split("/")[-2])
raw_data["parent_code"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-1] if not pd.isna(x) else ""
)
raw_data["parent_vocab"] = raw_data["Parents"].apply(
    lambda x: x.split("/")[-2] if not pd.isna(x) else ""
)
raw_data["name"] = raw_data["Preferred Label"]
# # exclude non icd10proc codes
raw_data = raw_data[raw_data.vocab == "ICD10PCS"]
data = raw_data[["code", "parent_code", "name"]]
# exclude non icd10proc parent code
invalid_parents = list(set(data.parent_code.unique()) - set(data.code.unique()))
data = data.replace({"parent_code": invalid_parents}, "")
data.to_csv(os.path.join(resource_directory, "processed/ICD10PROC.csv"), index=False)
data.head()

      code parent_code                                               name
0   0Q894Z       0Q894  Medical and Surgical @ Lower Bones @ Division ...
1  0Q894ZZ      0Q894Z  Division of Left Femoral Shaft, Percutaneous E...
2   005W3Z       005W3  Medical and Surgical @ Central Nervous System ...
3  005W3ZZ      005W3Z  Destruction of Cervical Spinal Cord, Percutane...
4   2W0MX3       2W0MX  Placement @ Anatomical Regions @ Change @ Lowe...

### to CCSPROC

In [16]:
"""https://www.hcup-us.ahrq.gov/toolssoftware/ccs10/ccs10.jsp"""

mapping = {}
with open(os.path.join(resource_directory, "raw/ccs_pr_icd10pcs_2019_1.csv")) as f:
    lines = f.readlines()
    for line in lines[1:]:
        line = line.split(",")
        icd10proc_code = line[0].strip("'").strip()
        ccsproc_code = line[1].strip("'").strip()
        assert icd10proc_code not in mapping
        mapping[icd10proc_code] = ccsproc_code
data = {"ICD10PROC": mapping.keys(), "CCSPROC": mapping.values()}
data = pd.DataFrame.from_dict(data)
data.to_csv(
    os.path.join(resource_directory, "processed/ICD10PROC_to_CCSPROC.csv"), index=False
)
data.head()

  ICD10PROC CCSPROC
0   00800ZZ       1
1   00803ZZ       1
2   00804ZZ       1
3   00870ZZ       1
4   00873ZZ       1

## NDC

Download NDC, RxNorm, ATC from https://athena.ohdsi.org/vocabulary/list

In [17]:
foldername = "NDC_RxNorm_ATC"

In [18]:
concept = pd.read_csv(
    os.path.join(resource_directory, f"raw/{foldername}/CONCEPT.csv"),
    dtype={
        "concept_id": str,
        "vocabulary_id": str,
        "concept_class_id": str,
        "concept_code": str,
    },
    sep="\t",
)
concept.head()

/Users/zzachw/miniconda3/envs/pytorch19/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,21600001,ALIMENTARY TRACT AND METABOLISM,Drug,ATC,ATC 1st,C,A,19700101,20991231,NaN
1,21600002,STOMATOLOGICAL PREPARATIONS,Drug,ATC,ATC 2nd,C,A01,19700101,20991231,NaN
2,21600003,STOMATOLOGICAL PREPARATIONS,Drug,ATC,ATC 3rd,C,A01A,19700101,20991231,NaN
3,21600004,Caries prophylactic agents,Drug,ATC,ATC 4th,C,A01AA,19700101,20991231,NaN
4,21600005,"sodium fluoride; oral, local oral (caries prop...",Drug,ATC,ATC 5th,C,A01AA01,19700101,20991231,NaN

In [19]:
concept_relationship = pd.read_csv(
    os.path.join(resource_directory, f"raw/{foldername}/CONCEPT_RELATIONSHIP.csv"),
    dtype={"concept_id_1": str, "concept_id_2": str, "relationship_id": str},
    sep="\t",
)
concept_relationship

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
0,45093654,1154196,Maps to,19700101,20991231,NaN
1,44923643,19035209,Maps to,19700101,20991231,NaN
2,45144409,19039121,Maps to,19700101,20991231,NaN
3,44849505,19133296,Maps to,20090101,20991231,NaN
4,19058667,19047727,Brand name of,20161007,20991231,NaN
...,...,...,...,...,...,...
4773359,40224172,827884,Mapped from,20210509,20991231,NaN
4773360,40224172,829918,Mapped from,20210509,20991231,NaN
4773361,40224166,829917,Mapped from,20210509,20991231,NaN
4773362,40224166,827886,Mapped from,20210509,20991231,NaN
4773363,19087978,45774915,Brand name of,20161007,20991231,NaN

In [20]:
concept_ancestor = pd.read_csv(
    os.path.join(resource_directory, f"raw/{foldername}/CONCEPT_ANCESTOR.csv"),
    dtype={"ancestor_concept_id": str, "descendant_concept_id": str},
    sep="\t",
)
concept_ancestor

,ancestor_concept_id,descendant_concept_id,min_levels_of_separation,max_levels_of_separation
0,742267,40172924,2,3
1,703547,40090686,1,2
2,723013,19117335,1,1
3,561425,40233203,1,1
4,711584,1593324,2,3
...,...,...,...,...
3072534,45893526,46221584,2,3
3072535,45893526,46287704,1,1
3072536,45893526,46287705,1,2
3072537,45893526,46287706,2,3
3072538,45893529,44816302,0,0

### base

In [21]:
data = concept[concept.vocabulary_id == "NDC"]
data["code"] = data.concept_code
data["name"] = data.concept_name
data = data[["code", "name"]]
data = data.drop_duplicates().dropna()
data.to_csv(os.path.join(resource_directory, "processed/NDC.csv"), index=False)
data.head()

/var/folders/28/p3hkwj8169s656m2d0fhrbym0000gn/T/ipykernel_18599/237910732.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["code"] = data.concept_code
/var/folders/28/p3hkwj8169s656m2d0fhrbym0000gn/T/ipykernel_18599/237910732.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["name"] = data.concept_name

             code                                               name
8536  00000000001  ferric pyrophosphate citrate 5.44 MG/ML Inject...
8537  00002000001   Ergocalciferol 50000 UNT Oral Capsule [Deltalin]
8538  00002000002   Ergocalciferol 50000 UNT Oral Capsule [Deltalin]
8539  00002001402  Flurandrenolide 0.004 MG/SQCM Medicated Tape [...
8540  00002001801  Capreomycin 500 MG/ML Injectable Solution [Cap...

### to RxNorm

In [22]:
concept_ndc = concept[concept.vocabulary_id == "NDC"]
concept_relationship_maps_to = concept_relationship[
    concept_relationship.relationship_id == "Maps to"
]
concept_relationship_maps_to = concept_relationship_maps_to[
    pd.isna(concept_relationship_maps_to.invalid_reason)
]
concept_rxnorm = concept[concept.vocabulary_id == "RxNorm"]

ndc_rxnorm = concept_ndc.merge(
    concept_relationship_maps_to,
    left_on="concept_id",
    right_on="concept_id_1",
    how="inner",
    suffixes=("_ndc", "_r"),
)
ndc_rxnorm = ndc_rxnorm.merge(
    concept_rxnorm,
    left_on="concept_id_2",
    right_on="concept_id",
    how="inner",
    suffixes=("_ndc", "_rxnorm"),
)
ndc_rxnorm = ndc_rxnorm[
    [
        "concept_id_ndc",
        "concept_name_ndc",
        "concept_code_ndc",
        "concept_id_rxnorm",
        "concept_name_rxnorm",
        "concept_code_rxnorm",
    ]
]

data = pd.DataFrame()
data["NDC"] = ndc_rxnorm.concept_code_ndc
data["RxNorm"] = ndc_rxnorm.concept_code_rxnorm
data.to_csv(
    os.path.join(resource_directory, "processed/NDC_to_RxNorm.csv"), index=False
)
data.head()

           NDC   RxNorm
0  00002000001  1367414
1  00002000002  1367414
2  00002001402   797697
3    000235870   797697
4  00023587024   797697

### to ATC

In [23]:
# first convert NDC to RxNorm
concept_ndc = concept[concept.vocabulary_id == "NDC"]
concept_relationship_maps_to = concept_relationship[
    concept_relationship.relationship_id == "Maps to"
]
concept_relationship_maps_to = concept_relationship_maps_to[
    pd.isna(concept_relationship_maps_to.invalid_reason)
]
concept_rxnorm = concept[concept.vocabulary_id == "RxNorm"]

ndc_rxnorm = concept_ndc.merge(
    concept_relationship_maps_to,
    left_on="concept_id",
    right_on="concept_id_1",
    how="inner",
    suffixes=("_ndc", "_r"),
)
ndc_rxnorm = ndc_rxnorm.merge(
    concept_rxnorm,
    left_on="concept_id_2",
    right_on="concept_id",
    how="inner",
    suffixes=("_ndc", "_rxnorm"),
)
ndc_rxnorm = ndc_rxnorm[
    [
        "concept_id_ndc",
        "concept_name_ndc",
        "concept_code_ndc",
        "concept_id_rxnorm",
        "concept_name_rxnorm",
        "concept_code_rxnorm",
    ]
]

# then convert RxNorm to ATC5
concept_atc5 = concept[concept.vocabulary_id == "ATC"]
concept_atc5 = concept_atc5[concept_atc5.concept_class_id == "ATC 5th"]

ndc_rxnorm_atc5 = ndc_rxnorm.merge(
    concept_ancestor,
    left_on="concept_id_rxnorm",
    right_on="descendant_concept_id",
    how="inner",
    suffixes=("_rxnorm", "_r"),
)
ndc_rxnorm_atc5 = ndc_rxnorm_atc5.merge(
    concept_atc5,
    left_on="ancestor_concept_id",
    right_on="concept_id",
    how="inner",
    suffixes=("_rxnorm", "_atc"),
)
ndc_rxnorm_atc5 = ndc_rxnorm_atc5.rename(
    columns={
        "concept_id": "concept_id_atc5",
        "concept_name": "concept_name_atc5",
        "concept_code": "concept_code_atc5",
    }
)
ndc_rxnorm_atc5 = ndc_rxnorm_atc5[
    [
        "concept_id_ndc",
        "concept_name_ndc",
        "concept_code_ndc",
        "concept_id_rxnorm",
        "concept_name_rxnorm",
        "concept_code_rxnorm",
        "concept_id_atc5",
        "concept_name_atc5",
        "concept_code_atc5",
    ]
]

data = pd.DataFrame()
data["NDC"] = ndc_rxnorm_atc5.concept_code_ndc
data["ATC"] = ndc_rxnorm_atc5.concept_code_atc5
data.to_csv(os.path.join(resource_directory, "processed/NDC_to_ATC.csv"), index=False)
data.head()

           NDC      ATC
0  00002000001  A11CC01
1  00002000002  A11CC01
2  00002026002  A11CC01
3  00115014000  A11CC01
4  00115014001  A11CC01

## RxNorm

Download NDC, RxNorm, ATC from https://athena.ohdsi.org/vocabulary/list

In [24]:
foldername = "NDC_RxNorm_ATC"

In [25]:
concept = pd.read_csv(
    os.path.join(resource_directory, f"raw/{foldername}/CONCEPT.csv"),
    dtype={
        "concept_id": str,
        "vocabulary_id": str,
        "concept_class_id": str,
        "concept_code": str,
    },
    sep="\t",
)
concept.head()

/Users/zzachw/miniconda3/envs/pytorch19/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,21600001,ALIMENTARY TRACT AND METABOLISM,Drug,ATC,ATC 1st,C,A,19700101,20991231,NaN
1,21600002,STOMATOLOGICAL PREPARATIONS,Drug,ATC,ATC 2nd,C,A01,19700101,20991231,NaN
2,21600003,STOMATOLOGICAL PREPARATIONS,Drug,ATC,ATC 3rd,C,A01A,19700101,20991231,NaN
3,21600004,Caries prophylactic agents,Drug,ATC,ATC 4th,C,A01AA,19700101,20991231,NaN
4,21600005,"sodium fluoride; oral, local oral (caries prop...",Drug,ATC,ATC 5th,C,A01AA01,19700101,20991231,NaN

In [26]:
concept_relationship = pd.read_csv(
    os.path.join(resource_directory, f"raw/{foldername}/CONCEPT_RELATIONSHIP.csv"),
    dtype={"concept_id_1": str, "concept_id_2": str, "relationship_id": str},
    sep="\t",
)
concept_relationship

,concept_id_1,concept_id_2,relationship_id,valid_start_date,valid_end_date,invalid_reason
0,45093654,1154196,Maps to,19700101,20991231,NaN
1,44923643,19035209,Maps to,19700101,20991231,NaN
2,45144409,19039121,Maps to,19700101,20991231,NaN
3,44849505,19133296,Maps to,20090101,20991231,NaN
4,19058667,19047727,Brand name of,20161007,20991231,NaN
...,...,...,...,...,...,...
4773359,40224172,827884,Mapped from,20210509,20991231,NaN
4773360,40224172,829918,Mapped from,20210509,20991231,NaN
4773361,40224166,829917,Mapped from,20210509,20991231,NaN
4773362,40224166,827886,Mapped from,20210509,20991231,NaN
4773363,19087978,45774915,Brand name of,20161007,20991231,NaN

In [27]:
concept_ancestor = pd.read_csv(
    os.path.join(resource_directory, f"raw/{foldername}/CONCEPT_ANCESTOR.csv"),
    dtype={"ancestor_concept_id": str, "descendant_concept_id": str},
    sep="\t",
)
concept_ancestor

,ancestor_concept_id,descendant_concept_id,min_levels_of_separation,max_levels_of_separation
0,742267,40172924,2,3
1,703547,40090686,1,2
2,723013,19117335,1,1
3,561425,40233203,1,1
4,711584,1593324,2,3
...,...,...,...,...
3072534,45893526,46221584,2,3
3072535,45893526,46287704,1,1
3072536,45893526,46287705,1,2
3072537,45893526,46287706,2,3
3072538,45893529,44816302,0,0

### base

In [28]:
data = concept[concept.vocabulary_id == "RxNorm"]
data["code"] = data.concept_code
data["name"] = data.concept_name
data = data[["code", "name"]]
data = data.drop_duplicates().dropna()
data.to_csv(os.path.join(resource_directory, "processed/RxNorm.csv"), index=False)
data.head()

/var/folders/28/p3hkwj8169s656m2d0fhrbym0000gn/T/ipykernel_18599/2609616381.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["code"] = data.concept_code
/var/folders/28/p3hkwj8169s656m2d0fhrbym0000gn/T/ipykernel_18599/2609616381.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["name"] = data.concept_name

            code                                               name
1299328  1000000  amlodipine 5 MG / hydrochlorothiazide 12.5 MG ...
1299329  1000001  amlodipine 5 MG / hydrochlorothiazide 25 MG / ...
1299330  1000002                                  Tribenzor 40/5/25
1299331  1000003  amlodipine 5 MG / hydrochlorothiazide 25 MG / ...
1299332  1000004  Amlodipine / Hydrochlorothiazide / Olmesartan ...

### to ATC

In [29]:
concept_rxnorm = concept[concept.vocabulary_id == "RxNorm"]
concept_atc5 = concept[concept.vocabulary_id == "ATC"]
concept_atc5 = concept_atc5[concept_atc5.concept_class_id == "ATC 5th"]

rxnorm_atc5 = concept_rxnorm.merge(
    concept_ancestor,
    left_on="concept_id",
    right_on="descendant_concept_id",
    how="inner",
    suffixes=("_rxnorm", "_r"),
)
rxnorm_atc5 = rxnorm_atc5.merge(
    concept_atc5,
    left_on="ancestor_concept_id",
    right_on="concept_id",
    how="inner",
    suffixes=("_rxnorm", "_atc"),
)
rxnorm_atc5 = rxnorm_atc5[
    [
        "concept_id_rxnorm",
        "concept_name_rxnorm",
        "concept_code_rxnorm",
        "concept_id_atc",
        "concept_name_atc",
        "concept_code_atc",
    ]
]

data = pd.DataFrame()
data["RxNorm"] = rxnorm_atc5.concept_code_rxnorm
data["ATC"] = rxnorm_atc5.concept_code_atc
data.to_csv(
    os.path.join(resource_directory, "processed/RxNorm_to_ATC.csv"), index=False
)
data.head()

    RxNorm      ATC
0  1000000  C09DA08
1  1000001  C09DA08
2  1000003  C09DA08
3  1000005  C09DA08
4    10763  C09DA08

## ATC

### base

In [30]:
def get_atc_parent(code: str):
    """Get parent code of ATC code"""
    if len(code) == 7:
        return code[:5]
    elif len(code) == 5:
        return code[:4]
    elif len(code) == 4:
        return code[:3]
    elif len(code) == 3:
        return code[:1]
    else:
        return ""


get_atc_parent("V10XA53")

'V10XA'

In [31]:
"""https://bioportal.bioontology.org/ontologies/ATC"""

atc = pd.read_csv(os.path.join(resource_directory, "raw/ATC.csv"))
atc = atc[["Class ID", "Preferred Label", "ATC LEVEL"]]
atc["Class ID"] = atc["Class ID"].apply(lambda x: x.split("/")[-1])
atc = atc.dropna()
atc = atc.drop_duplicates()
atc["parent_code"] = atc["Class ID"].map(get_atc_parent)
atc = atc.sort_values(by=["ATC LEVEL", "Class ID"])
atc.columns = ["code", "name", "level", "parent_code"]
atc = atc[["code", "parent_code", "name", "level"]]
atc.head()

     code parent_code                                    name  level
5732    A               ALIMENTARY TRACT AND METABOLISM DRUGS    1.0
5993    B                 BLOOD AND BLOOD FORMING ORGAN DRUGS    1.0
5477    C                         CARDIOVASCULAR SYSTEM DRUGS    1.0
2143    D                                     DERMATOLOGICALS    1.0
6393    G              GENITO URINARY SYSTEM AND SEX HORMONES    1.0

additional info

In [32]:
"""https://go.drugbank.com/releases/latest"""

drugbank = pd.read_csv(
    os.path.join(resource_directory, "raw/drugs_info_5_1_8.csv").replace("\\", "/")
)
drugbank = drugbank.fillna("")
drugbank.atc_codes = drugbank.atc_codes.apply(lambda x: x.split("|"))
drugbank = drugbank.explode("atc_codes")
drugbank = drugbank[["drugbank_id", "description", "indication", "atc_codes", "smiles"]]
atc = atc.merge(drugbank, left_on="code", right_on="atc_codes", how="left")
atc = atc[
    [
        "code",
        "parent_code",
        "name",
        "level",
        "description",
        "indication",
        "smiles",
        "drugbank_id",
    ]
]
atc.to_csv(os.path.join(resource_directory, "processed/ATC.csv"), index=False)
atc.head()

,code,parent_code,name,level,description,indication,smiles,drugbank_id
0,A,,ALIMENTARY TRACT AND METABOLISM DRUGS,1.0,NaN,NaN,NaN,NaN
1,B,,BLOOD AND BLOOD FORMING ORGAN DRUGS,1.0,NaN,NaN,NaN,NaN
2,C,,CARDIOVASCULAR SYSTEM DRUGS,1.0,NaN,NaN,NaN,NaN
3,D,,DERMATOLOGICALS,1.0,NaN,NaN,NaN,NaN
4,G,,GENITO URINARY SYSTEM AND SEX HORMONES,1.0,NaN,NaN,NaN,NaN

### to ICD9CM

In [33]:
"""https://www.vumc.org/cpm/cpm-blog/medi-ensemble-medication-indication-resource-0"""

medi = pd.read_csv(os.path.join(resource_directory, "raw/MEDI_11242015.csv"))
medi = medi[medi.HSP == 1]
medi.CODE = medi.CODE.apply(lambda x: x.split("|"))
medi = medi.explode("CODE")
medi = medi.dropna().drop_duplicates().reset_index(drop=True)
medi = medi[["ATC", "CODE"]]
medi.columns = ["ATC", "ICD9CM"]
medi.to_csv(
    os.path.join(resource_directory, "processed/ATC_to_ICD9CM.csv"), index=False
)
medi.head()

       ATC ICD9CM
0  R05CB05    595
1  R05CB05  977.9
2  R05CB05  595.9
3  R05CB05    459
4  V03AF01    595

### DDI

In [9]:
"""https://snap.stanford.edu/biodata/datasets/10017/10017-ChChSe-Decagon.html"""
ddi = pd.read_csv(
    os.path.join(resource_directory, "raw/DDI/ChChSe-Decagon_polypharmacy.csv")
)
ddi = ddi.rename(columns={"# STITCH 1": "STITCH 1"})
ddi.head()

,STITCH 1,STITCH 2,Polypharmacy Side Effect,Side Effect Name
0,CID000002173,CID000003345,C0151714,hypermagnesemia
1,CID000002173,CID000003345,C0035344,retinopathy of prematurity
2,CID000002173,CID000003345,C0004144,atelectasis
3,CID000002173,CID000003345,C0002063,alkalosis
4,CID000002173,CID000003345,C0004604,Back Ache

In [10]:
"""http://sideeffects.embl.de/download/"""
stitch_2_atc = pd.read_csv(
    os.path.join(resource_directory, "raw/DDI/drug_atc.tsv"),
    sep="\t",
    header=None,
    names=["STITCH", "ATC"],
)
# http://stitch.embl.de/download/README
stitch_2_atc.STITCH = stitch_2_atc.STITCH.str.replace("CID1", "CID0")
stitch_2_atc = stitch_2_atc.groupby("STITCH").ATC.agg(lambda x: list(set(x))).to_dict()
stitch_2_atc

{'CID000000085': ['A16AA01'],
 'CID000000119': ['N03AG03', 'L03AA03'],
 'CID000000137': ['L01XD04'],
 'CID000000143': ['V03AF06', 'V03AF04', 'V03AF03'],
 'CID000000158': ['G02AD02'],
 'CID000000159': ['B01AC09'],
 'CID000000160': ['G02AD01'],
 'CID000000175': ['S02AA10', 'G01AD02'],
 'CID000000187': ['S01EB09'],
 'CID000000191': ['C01EB10', 'J05AB03', 'S01AD06'],
 'CID000000206': ['B05CB01',
  'B05CX01',
  'B05XA03',
  'A12CA01',
  'B05XA07',
  'B05XA01',
  'A12BA01',
  'A12AA07',
  'G04BA03',
  'V04CE01',
  'V06DC01',
  'V04CA02'],
 'CID000000214': ['G04BE01', 'C01EA01'],
 'CID000000232': ['B05XB01'],
 'CID000000247': ['A16AA06', 'A09AB02'],
 'CID000000271': ['A07XA03', 'A12AA20'],
 'CID000000298': ['S03AA08',
  'G01AA05',
  'J01BA01',
  'S01AA01',
  'D10AF03',
  'D06AX02',
  'S02AA01'],
 'CID000000303': ['A05AA03'],
 'CID000000311': ['A09AB04'],
 'CID000000312': ['B05XA13', 'A09AB03'],
 'CID000000338': ['S01BC08', 'N02BA12', 'N02BA04', 'D01AE12'],
 'CID000000401': ['J04AB01'],
 'CID000000444': ['N06AX12'],
 'CID000000450': ['L02AA02', 'G03CA03'],
 'CID000000453': ['A06AG07',
  'A06AD16',
  'A06AD18',
  'B05CX02',
  'B05CX04',
  'B05BC01',
  'V04CC01'],
 'CID000000564': ['B02AA01'],
 'CID000000581': ['R05CB01', 'S01XA08', 'V03AB23'],
 'CID000000596': ['L01BC01'],
 'CID000000598': ['R05CB05', 'V03AF01'],
 'CID000000612': ['G01AD01'],
 'CID000000679': ['G04BX13', 'M02AX03'],
 'CID000000681': ['C01CA04'],
 'CID000000698': ['G03CC04', 'G03CA07'],
 'CID000000727': ['P03AB02'],
 'CID000000738': ['A16AA03'],
 'CID000000750': ['B05CX03'],
 'CID000000753': ['A06AG04', 'A06AX01'],
 'CID000000772': ['B01AB05'],
 'CID000000774': ['V04CG03', 'L03AX14'],
 'CID000000785': ['D11AX11'],
 'CID000000815': ['A07AA08', 'J01GB04', 'S01AA24'],
 'CID000000838': ['R03AA01',
  'R01AA14',
  'C01CA24',
  'S01EA01',
  'A01AD01',
  'B02BC09'],
 'CID000000853': ['H03AA01', 'C10AX01'],
 'CID000000861': ['H03AA02'],
 'CID000000888': ['A12CC30'],
 'CID000000896': ['N05CH01'],
 'CID000000937': ['C04AC01', 'C10AD02'],
 'CID000000942': ['N07BA01'],
 'CID000000948': ['N01AX13'],
 'CID000000951': ['C01CA03'],
 'CID000001046': ['J04AK01'],
 'CID000001054': ['A11HA02'],
 'CID000001065': ['P01BC01', 'C01BA01'],
 'CID000001071': ['D10AD02', 'A11CA01', 'R01AX02', 'S01XA02'],
 'CID000001084': ['V03AB06'],
 'CID000001125': ['A16AX07'],
 'CID000001130': ['A11DA01'],
 'CID000001134': ['J05AF11'],
 'CID000001206': ['N06BA03'],
 'CID000001301': ['G02CC02', 'M01AE02', 'M02AA12'],
 'CID000001546': ['L01BB04'],
 'CID000001690': ['L01DB03', 'L01DB01'],
 'CID000001775': ['N03AB02'],
 'CID000001798': ['S01EC05'],
 'CID000001805': ['L01BC07'],
 'CID000001971': ['J05AF06'],
 'CID000001972': ['J02AA01', 'A07AA07', 'A01AB04', 'G01AA03'],
 'CID000001978': ['C07AB04'],
 'CID000001983': ['N02BE01'],
 'CID000001986': ['S01EC01'],
 'CID000001990': ['G04BX03'],
 'CID000002019': ['L01DA01'],
 'CID000002021': ['J01XX04'],
 'CID000002022': ['D06BB03', 'J05AB01', 'S01AD03'],
 'CID000002082': ['P02CA03'],
 'CID000002083': ['R03AC02', 'R03CC02'],
 'CID000002088': ['M05BA04'],
 'CID000002092': ['G04CA01'],
 'CID000002094': ['M04AA01'],
 'CID000002099': ['A03AE01'],
 'CID000002118': ['N05BA12'],
 'CID000002123': ['L01XX03'],
 'CID000002130': ['N04BB01'],
 'CID000002133': ['D07AC11'],
 'CID000002140': ['V08AA01'],
 'CID000002141': ['V03AF05'],
 'CID000002142': ['D06AX12', 'J01GB06', 'S01AA21'],
 'CID000002145': ['L02BG01'],
 'CID000002148': ['V04CH30'],
 'CID000002153': ['R03DA04'],
 'CID000002156': ['C01BD01'],
 'CID000002159': ['N05AL05'],
 'CID000002160': ['N06AA09'],
 'CID000002161': ['R03DX01', 'A01AD07'],
 'CID000002162': ['C08CA01'],
 'CID000002163': ['N05CA02'],
 'CID000002168': ['D01AE16'],
 'CID000002170': ['N06AA17'],
 'CID000002171': ['J01CA04'],
 'CID000002173': ['S01AA19', 'J01CA01'],
 'CID000002177': ['J05AE05'],
 'CID000002179': ['L01XX01'],
 'CID000002182': ['L01XX35'],
 'CID000002187': ['L02BG03'],
 'CID000002215': ['N04BC07', 'G04BE07'],
 'CID000002216': ['S01EA03'],
 'CID000002232': ['B01AE03'],
 'CID000002244': ['N02BA01', 'B01AC06', 'A01AD05'],
 'CID000002249': ['C07AB03', 'C07AB11'],
 'CID000002250': ['C10AA05'],
 'CID000002265': ['L04AX01'],
 'CID000002266': ['D10AX03'],
 'CID000002267': ['S01GX07', 'R01AC03', 'R06AX19'],
 'CID000002269': ['J01FA10', 'S01AA26'],
 'CID000002274': ['J01DF01'],
 'CID000002284': ['M03BX01'],
 'CID000002307': ['D07AC15', 'A07EA07', 'R01AD01', 'R03BA01'],
 'CID000002311': ['C09AA07'],
 'CID000002315': ['C03AA01'],
 'CID000002337': ['C05AD03', 'N01BA05', 'R02AD01', 'D04AB04'],
 'CID000002344': ['N04AC01'],
 'CID000002345': ['P03AX01'],
 'CID000002349': ['J01CE01', 'S01AA14'],
 'CID000002351': ['C08EA02'],
 'CID000002366': ['N07CA01'],
 'CID000002369': ['S01ED02', 'C07AB05'],
 'CID000002370': ['N07AB02'],
 'CID000002375': ['L02BB03'],
 'CID000002391': ['A06AB02', 'A06AG02'],
 'CID000002405': ['C07AB07'],
 'CID000002431': ['C01BD02'],
 'CID000002435': ['S01EA05'],
 'CID000002441': ['N05BA08'],
 'CID000002442': ['R05CB02'],
 'CID000002443': ['N04BC01', 'G02CB01'],
 'CID000002462': ['R01AD05', 'A07EA06', 'R03BA02', 'D07AC09'],
 'CID000002471': ['C03CA02'],
 'CID000002474': ['N01BB01', 'N01BB10'],
 'CID000002476': ['N07BC01', 'N02AE01'],
 'CID000002477': ['N05BE01'],
 'CID000002478': ['L01AB01'],
 'CID000002484': ['D01AE23'],
 'CID000002487': ['N02AF01'],
 'CID000002512': ['G02CB03', 'N04BC06'],
 'CID000002519': ['N06BC01'],
 'CID000002520': ['C08DA01'],
 'CID000002522': ['D05AX02'],
 'CID000002524': ['D05AX03', 'A11CC04'],
 'CID000002541': ['C09CA06'],
 'CID000002547': ['J04AB30'],
 'CID000002548': ['M02AB02', 'M02AB01', 'N01BX04'],
 'CID000002550': ['C09AA01'],
 'CID000002551': ['S01EB02', 'N07AB01'],
 'CID000002554': ['N03AF01'],
 'CID000002559': ['J01CA03'],
 'CID000002564': ['R06AA08'],
 'CID000002576': ['M03BA02'],
 'CID000002578': ['L01AD01'],
 'CID000002583': ['S01ED05', 'C07AA15'],
 'CID000002585': ['C07AG02'],
 'CID000002609': ['J01DC04'],
 'CID000002610': ['J01DB05'],
 'CID000002617': ['J01DB04'],
 'CID000002622': ['J01DE01'],
 'CID000002631': ['J01DD01'],
 'CID000002637': ['J01DC01'],
 'CID000002646': ['J01DC10'],
 'CID000002650': ['J01DD02'],
 'CID000002654': ['J01DD14'],
 'CID000002655': ['J01DD07'],
 'CID000002656': ['J01DD04'],
 'CID000002658': ['J01DC02'],
 'CID000002662': ['M01AH01', 'L01XX33'],
 'CID000002663': ['C07AB08'],
 'CID000002666': ['J01DB01'],
 'CID000002675': ['J01DD08'],
 'CID000002676': ['C10AA06'],
 'CID000002678': ['R06AE09', 'R06AE07'],
 'CID000002684': ['N07AX03'],
 'CID000002708': ['L01AA02'],
 'CID000002712': ['N05BA02'],
 'CID000002713': ['R02AA05',
  'S01AX09',
  'B05CA02',
  'A01AB03',
  'D08AC02',
  'S03AA04',
  'S02AA09',
  'D09AA12'],
 'CID000002719': ['N06DX02', 'P01BA01'],
 'CID000002720': ['C03AA04'],
 'CID000002725': ['R06AB04', 'R06AB02'],
 'CID000002726': ['N05AA01'],
 'CID000002727': ['A10BB02'],
 'CID000002732': ['C03BA04'],
 'CID000002733': ['M03BB03'],
 'CID000002749': ['G01AX12', 'D01AE14'],
 'CID000002751': ['C09AA08'],
 'CID000002756': ['A02BA01'],
 'CID000002762': ['J01MB06'],
 'CID000002764': ['J01MA02', 'S01AX13', 'S02AA15', 'S03AA07'],
 'CID000002767': ['L01XA01'],
 'CID000002771': ['N06AB10', 'N06AB04'],
 'CID000002781': ['R06AA04', 'D04AA14'],
 'CID000002786': ['G01AA10', 'J01FF01', 'D10AF01'],
 'CID000002789': ['N05BA09'],
 'CID000002792': ['D07AB01', 'S01BA09'],
 'CID000002794': ['J04BA01'],
 'CID000002800': ['G03GB02'],
 'CID000002801': ['N06AA04'],
 'CID000002802': ['N03AE01'],
 'CID000002803': ['C02AC01', 'N02CX02', 'S01EA04'],
 'CID000002806': ['B01AC04'],
 'CID000002812': ['A01AB18', 'D01AC01', 'G01AF02'],
 'CID000002818': ['N05AH02'],
 'CID000002826': ['S01HA01', 'N01BC01', 'R02AD03', 'S02DA02'],
 'CID000002828': ['R05DA04'],
 'CID000002833': ['M04AC01'],
 'CID000002881': ['A07EB01', 'R01AC01', 'R03BC01', 'S01GX01', 'D11AH03'],
 'CID000002891': ['B03BA01'],
 'CID000002895': ['M03BX08'],
 'CID000002905': ['S01FA04'],
 'CID000002907': ['L01AA01'],
 'CID000002909': ['S01XA18', 'L04AD01'],
 'CID000002913': ['R06AX02'],
 'CID000002949': ['G03XA01'],
 'CID000002951': ['M03CA01'],
 'CID000002955': ['D10AX05', 'J04BA02'],
 'CID000002958': ['L01DB02'],
 'CID000002972': ['V03AC02'],
 'CID000002973': ['V03AC01'],
 'CID000002978': ['A04AD10'],
 'CID000002995': ['N06AA01'],
 'CID000003000': ['D07AC03', 'D07XC02'],
 'CID000003003': ['S03BA03',
  'D07AC01',
  'S02BA06',
  'D07XB05',
  'C05AA05',
  'C05AA09',
  'R01AD03',
  'S03BA01',
  'A01AC02',
  'H02AB01',
  'S01BA06',
  'R03BA04',
  'S01CB01',
  'S01CB04',
  'H02AB02',
  'D07XC01',
  'R01AD06',
  'D07AB19',
  'D10AA03',
  'S01BA01',
  'S02BA07',
  'A07EA04'],
 'CID000003007': ['N06BA01', 'N06BA02'],
 'CID000003008': ['R05DA09'],
 'CID000003009': ['D11AX16', 'P01CX03'],
 'CID000003015': ['G03HA01'],
 'CID000003016': ['N05BA01'],
 'CID000003019': ['V03AH01', 'C02DA01'],
 'CID000003032': ['D11AX18', 'M02AA15', 'M01AB05', 'S01BC03'],
 'CID000003038': ['S01EC02'],
 'CID000003040': ['J01CF01'],
 'CID000003042': ['A03AA07'],
 'CID000003043': ['J05AF02'],
 'CID000003059': ['N02BA11'],
 'CID000003060': ['D07AC19'],
 'CID000003062': ['C01AA05'],
 'CID000003063': ['N02AA08'],
 'CID000003066': ['N02CA01'],
 'CID000003075': ['C08DB01'],
 'CID000003080': ['V03AB09'],
 'CID000003100': ['D04AA32', 'N04AB01', 'R06AA02'],
 'CID000003105': ['S01EA02'],
 'CID000003108': ['B01AC07'],
 'CID000003114': ['C01BA03'],
 'CID000003117': ['P03AA04', 'N07BB01'],
 'CID000003121': ['N03AG01'],
 'CID000003125': ['C02KB01'],
 'CID000003143': ['L01CD02'],
 'CID000003148': ['A04AA04'],
 'CID000003151': ['A03FA03'],
 'CID000003152': ['N06DA02'],
 'CID000003154': ['S01EC03'],
 'CID000003155': ['N06AA16'],
 'CID000003156': ['R07AB01'],
 'CID000003157': ['C02CA04'],
 'CID000003158': ['N06AA12'],
 'CID000003168': ['N05AD08', 'N01AX01'],
 'CID000003182': ['R03DA01'],
 'CID000003198': ['D01AC03', 'G01AF05'],
 'CID000003199': ['L01CX01'],
 'CID000003203': ['J05AG03'],
 'CID000003219': ['S01GX06'],
 'CID000003222': ['C09AA02'],
 'CID000003226': ['N01AB04'],
 'CID000003241': ['S01GX10', 'R06AX24'],
 'CID000003249': ['A11CC01'],
 'CID000003250': ['G02AB03'],
 'CID000003251': ['N02CA02'],
 'CID000003255': ['S01AA17', 'J01FA01', 'D10AF02'],
 'CID000003261': ['N05CD04'],
 'CID000003269': ['G03CC06', 'G03CA04'],
 'CID000003278': ['C03CC01'],
 'CID000003279': ['J04AK02'],
 'CID000003291': ['N03AD01'],
 'CID000003292': ['N03AB01'],
 'CID000003305': ['M05BA01'],
 'CID000003308': ['M01AB08'],
 'CID000003310': ['L01CB01'],
 'CID000003324': ['J05AB09', 'S01AD07'],
 'CID000003325': ['A02BA03'],
 'CID000003331': ['N03AX10'],
 'CID000003333': ['C08CA02'],
 'CID000003339': ['C10AB05'],
 'CID000003340': ['C01CA19'],
 'CID000003342': ['M01AE04'],
 'CID000003345': ['N01AH01', 'N02AB03'],
 'CID000003348': ['R06AX26'],
 'CID000003350': ['G04CB01', 'D11AX10'],
 'CID000003354': ['G04BD02'],
 'CID000003355': ['C01BC04'],
 'CID000003364': ['J01CF05'],
 'CID000003365': ['J02AC01', 'D01AC15'],
 'CID000003366': ['J02AX01', 'D01AE21'],
 'CID000003367': ['L01BB05'],
 'CID000003372': ['N05AB02'],
 'CID000003373': ['V03AB25'],
 'CID000003375': ['D07XB01', 'D07AB03', 'D07AC10'],
 'CID000003379': ['R01AD04', 'R03BA03'],
 'CID000003380': ['N05CD03'],
 'CID000003381': ['S01BA15', 'D07AC04', 'C05AA10', 'S02BA08'],
 'CID000003382': ['D07AC08', 'C05AA11'],
 'CID000003384': ['S01CB05',
  'D07AB06',
  'D07XB04',
  'C05AA06',
  'S01BA07',
  'D10AA01'],
 'CID000003385': ['L01BC02'],
 'CID000003386': ['N06AB03'],
 'CID000003387': ['G03BA01'],
 'CID000003392': ['D07AC07'],
 'CID000003393': ['N05CD01'],
 'CID000003394': ['S01BC04', 'R02AX01', 'M02AA19', 'M01AE09'],
 'CID000003397': ['L02BB01'],
 'CID000003403': ['C10AA04'],
 'CID000003404': ['N06AB08'],
 'CID000003405': ['B03BB01'],
 'CID000003406': ['V03AB34'],
 'CID000003410': ['R03AC13'],
 'CID000003414': ['J05AD01'],
 'CID000003417': ['J01XX01'],
 'CID000003419': ['C09AA09'],
 'CID000003425': ['L01XX39'],
 'CID000003440': ['C03CA01'],
 'CID000003443': ['D09AA02', 'D06AX01', 'J01XC01', 'S01AA13'],
 'CID000003446': ['N03AX12'],
 'CID000003449': ['N06DA04'],
 'CID000003454': ['J05AB06', 'S01AD09'],
 'CID000003461': ['L01BC05'],
 'CID000003462': ['G02AD03'],
 'CID000003463': ['C10AB04'],
 'CID000003467': ['J01GB03', 'S02AA14', 'D06AX07', 'S03AA06', 'S01AA11'],
 'CID000003475': ['A10BB09'],
 'CID000003476': ['A10BB12'],
 'CID000003478': ['A10BB07'],
 'CID000003488': ['A10BB01'],
 'CID000003494': ['A03AB02'],
 'CID000003510': ['A04AA02'],
 'CID000003512': ['D01AA08', 'D01BA01'],
 'CID000003516': ['R05CA03'],
 'CID000003519': ['C02AC02'],
 'CID000003553': ['D07AD02'],
 'CID000003559': ['N05AD01'],
 'CID000003598': ['D08AE01'],
 'CID000003623': ['S01FA05'],
 'CID000003636': ['A03BB01'],
 'CID000003637': ['C02DB02'],
 'CID000003639': ['C03AA03'],
 'CID000003640': ['C05AA01',
  'A07EA02',
  'D07XA01',
  'H02AB09',
  'A01AC03',
  'S01BA02',
  'S01CB03',
  'D07AA02',
  'S02BA01'],
 'CID000003642': ['D07AB02'],
 'CID000003647': ['C03AA02'],
 'CID000003648': ['N02AA03'],
 'CID000003652': ['P01BA02'],
 'CID000003657': ['L01XX05'],
 'CID000003658': ['N05BB01'],
 'CID000003661': ['V03AB14', 'A03BA01', 'A03BA03', 'S01FA01'],
 'CID000003672': ['C01EB16', 'M01AE14', 'M01AE01', 'M02AA13', 'G02CC01'],
 'CID000003675': ['N06AF03'],
 'CID000003676': ['N01BB02',
  'R02AD02',
  'S02DA01',
  'D04AB01',
  'S01HA07',
  'C05AD01',
  'C01BB01'],
 'CID000003685': ['L01DB06'],
 'CID000003687': ['S01AD01', 'D06BB01', 'J05AB02'],
 'CID000003690': ['L01AA06'],
 'CID000003696': ['N06AA02'],
 'CID000003702': ['C03BA11'],
 'CID000003706': ['J05AE02'],
 'CID000003715': ['M01AB01', 'C01EB03', 'S01BC01', 'M02AA23'],
 'CID000003724': ['V08AB09'],
 'CID000003730': ['V08AB02'],
 'CID000003734': ['V08AB04'],
 'CID000003736': ['V08AB05'],
 'CID000003737': ['V08AA04'],
 'CID000003738': ['V08AB06'],
 'CID000003739': ['V08AC04'],
 'CID000003741': ['V08AB07'],
 'CID000003742': ['V08AB03'],
 'CID000003743': ['V08AB12'],
 'CID000003746': ['R03BB01', 'R01AX03'],
 'CID000003749': ['C09CA04'],
 'CID000003750': ['L01XX19'],
 'CID000003759': ['N06AF01'],
 'CID000003763': ['N01AB06'],
 'CID000003767': ['J04AC01'],
 'CID000003779': ['R03AB02', 'C01CA02', 'R03CB01'],
 'CID000003780': ['C01DA08', 'C05AE02'],
 'CID000003783': ['C04AA01'],
 'CID000003784': ['C08CA03'],
 'CID000003793': ['J02AC02'],
 'CID000003821': ['N01AX03', 'N01AX14'],
 'CID000003823': ['D01AC08', 'J02AB02', 'G01AF11'],
 'CID000003825': ['M01AE17', 'M01AE03', 'M02AA10'],
 'CID000003826': ['S01BC05', 'M01AB15'],
 'CID000003827': ['R06AX17', 'S01GX08'],
 'CID000003830': ['B06AA03'],
 'CID000003869': ['C07AG01'],
 'CID000003872': ['A06AD11'],
 'CID000003877': ['J05AF05'],
 'CID000003878': ['N03AX09'],
 'CID000003883': ['A02BC03'],
 'CID000003890': ['S01EE01'],
 'CID000003899': ['L04AA13'],
 'CID000003902': ['L02BG04'],
 'CID000003911': ['L02AE02'],
 'CID000003914': ['S01ED03'],
 'CID000003915': ['S01GX02', 'R01AC02'],
 'CID000003916': ['N05AA02'],
 'CID000003928': ['J01FF02'],
 'CID000003929': ['J01XX08'],
 'CID000003937': ['C09AA03'],
 'CID000003938': ['G02CB02', 'N02CA07'],
 'CID000003948': ['J01MA07', 'S01AX17'],
 'CID000003950': ['L01AD02'],
 'CID000003954': ['A07DA03'],
 'CID000003957': ['R06AX13'],
 'CID000003958': ['N05BA06'],
 'CID000003961': ['C09CA01'],
 'CID000003962': ['C10AA02'],
 'CID000003964': ['N05AH01'],
 'CID000003998': ['D06BA03'],
 'CID000004004': ['P03AX03'],
 'CID000004011': ['N06AA21'],
 'CID000004030': ['P02CA01'],
 'CID000004031': ['A03AA04'],
 'CID000004032': ['C02BB01'],
 'CID000004033': ['L01AA05'],
 'CID000004034': ['R06AE05'],
 'CID000004036': ['M01AG04', 'M02AA18'],
 'CID000004043': ['S01BA08'],
 'CID000004044': ['M01AG01'],
 'CID000004046': ['P01BC02'],
 'CID000004051': ['M01AC06'],
 'CID000004053': ['L01AA03'],
 'CID000004054': ['N06DX01'],
 'CID000004057': ['A03AB12'],
 'CID000004058': ['N02AB02'],
 'CID000004060': ['N03AB04'],
 'CID000004062': ['N01BB03'],
 'CID000004064': ['N05BC01'],
 'CID000004075': ['A07EC02'],
 'CID000004086': ['R03AB03', 'R03CB03'],
 'CID000004091': ['A10BA02'],
 'CID000004095': ['N07BC02'],
 'CID000004101': ['J01XX05'],
 'CID000004107': ['M03BA03'],
 'CID000004112': ['L04AX03', 'L01BA01'],
 'CID000004114': ['D05BA02', 'D05AD02'],
 'CID000004120': ['S01FA03', 'A03BB03'],
 'CID000004121': ['C03AA08'],
 'CID000004138': ['C02AB01', 'C02AB02'],
 'CID000004139': ['V04CG05', 'V03AB17'],
 'CID000004140': ['G02AB01'],
 'CID000004158': ['N06BA11', 'N06BA04'],
 'CID000004159': ['H02AB04', 'D10AA02', 'D07AA01'],
 'CID000004160': ['G03BA02', 'G03EK01'],
 'CID000004163': ['N02CA04'],
 'CID000004168': ['A03FA01'],
 'CID000004170': ['C03BA08'],
 'CID000004171': ['C07AB02'],
 'CID000004173': ['D06BX01', 'A01AB17', 'G01AF01', 'P01AB01', 'J01XD01'],
 'CID000004174': ['V04CD01'],
 'CID000004178': ['C01BB02'],
 'CID000004184': ['N06AX03'],
 'CID000004189': ['A07AC01',
  'S02AA13',
  'G01AF04',
  'D01AC02',
  'A01AB09',
  'J02AB01'],
 'CID000004192': ['N05CD08'],
 'CID000004195': ['C01CA17'],
 'CID000004196': ['G03XB01'],
 'CID000004197': ['C01CE02'],
 'CID000004201': ['D11AX01', 'C02DC01'],
 'CID000004205': ['N06AX11'],
 'CID000004211': ['L01XX23'],
 'CID000004212': ['L01DB07'],
 'CID000004235': ['N06AG02'],
 'CID000004236': ['N06BA07'],
 'CID000004248': ['R03DC03'],
 'CID000004253': ['N02AA01'],
 'CID000004259': ['J01MA14', 'S01AX22'],
 'CID000004264': ['R01AX06', 'D06AX09'],
 'CID000004272': ['L04AA06'],
 'CID000004409': ['M01AX01'],
 'CID000004411': ['C07AA12'],
 'CID000004419': ['N02AF02'],
 'CID000004421': ['J01MB02'],
 'CID000004425': ['V03AB15'],
 'CID000004428': ['N07BB04'],
 'CID000004436': ['R01AB02', 'S01GA01', 'R01AA08'],
 'CID000004440': ['N02CC02'],
 'CID000004443': ['A10BX03'],
 'CID000004449': ['N06AX06'],
 'CID000004450': ['N02BG06'],
 'CID000004451': ['J05AE04'],
 'CID000004454': ['S03AA01',
  'A01AB08',
  'B05CA09',
  'S02AA07',
  'A07AA01',
  'S01AA07',
  'J01GB05',
  'R02AB01',
  'R01AX08',
  'D09AA01',
  'S01AA03',
  'D06AX04'],
 'CID000004456': ['N07AA01', 'S01EB06'],
 'CID000004463': ['J05AG01'],
 'CID000004473': ['C08CA04'],
 'CID000004485': ['C08CA05'],
 'CID000004493': ['L02BB02'],
 'CID000004497': ['C08CA06'],
 'CID000004499': ['C08CA07'],
 'CID000004506': ['N05CD02'],
 'CID000004509': ['J01XE01'],
 'CID000004510': ['C05AE01', 'C01DA02'],
 'CID000004513': ['A02BA04'],
 'CID000004536': ['G03DC02', 'G03AC01'],
 'CID000004539': ['J01MA06', 'S01AX12'],
 'CID000004542': ['G03AC03'],
 'CID000004543': ['N06AA10'],
 'CID000004547': ['A10BX02'],
 'CID000004568': ['D01AA01', 'G01AA01', 'A07AA02'],
 'CID000004583': ['J01MA01', 'J01MA12', 'S01AX19', 'S02AA16', 'S01AX11'],
 'CID000004585': ['N05AH03'],
 'CID000004594': ['A02BC05', 'A02BC01'],
 'CID000004595': ['A04AA01'],
 'CID000004599': ['A08AB01'],
 'CID000004601': ['N04AB02', 'M03BC01'],
 'CID000004603': ['J05AH02'],
 'CID000004607': ['J01CF04'],
 'CID000004609': ['L01XA03'],
 'CID000004614': ['M01AE12'],
 'CID000004616': ['N05BA04'],
 'CID000004623': ['G01AF17', 'D01AC11'],
 'CID000004631': ['C07AA02'],
 'CID000004634': ['G04BD04'],
 'CID000004635': ['N02AA05'],
 'CID000004638': ['A14AA05'],
 'CID000004649': ['J04AA01', 'J04AA02'],
 'CID000004666': ['L01CD01'],
 'CID000004673': ['M05BA03'],
 'CID000004675': ['M03AC01'],
 'CID000004678': ['A11HA30', 'S01XA12', 'D03AX03'],
 'CID000004679': ['A02BC02'],
 'CID000004680': ['A03AD01', 'G04BE02'],
 'CID000004689': ['A07AA06'],
 'CID000004691': ['N06AB05'],
 'CID000004724': ['C07AA23'],
 'CID000004725': ['J05AB13', 'D06BB06'],
 'CID000004727': ['M01CC01'],
 'CID000004730': ['J01CE02'],
 'CID000004736': ['N02AD01'],
 'CID000004737': ['N05CA01'],
 'CID000004739': ['L01XX08'],
 'CID000004740': ['C04AD03'],
 'CID000004745': ['N04BC02'],
 'CID000004746': ['C08EX02'],
 'CID000004747': ['N05AC01'],
 'CID000004748': ['N05AB03'],
 'CID000004756': ['G04BX06'],
 'CID000004763': ['N03AA02'],
 'CID000004768': ['C04AX02'],
 'CID000004771': ['A08AA01'],
 'CID000004775': ['A16AX03'],
 'CID000004782': ['C01CA06',
  'S01GA05',
  'R01AB01',
  'R01AA04',
  'R01BA03',
  'S01FB01'],
 'CID000004786': ['R01BA01', 'A08AA07'],

In [11]:
print(ddi["STITCH 1"].isin(stitch_2_atc).mean())
print(ddi["STITCH 2"].isin(stitch_2_atc).mean())

0.9566012344279667
0.8617562842500851

In [12]:
# DDI from paepr: GAMENet: Graph Augmented MEmory Networks for Recommending Medication Combination
k = 40
bottom_k_se = ddi["Polypharmacy Side Effect"].value_counts().iloc[-k:].index
ddi_bottom_k = ddi[ddi["Polypharmacy Side Effect"].isin(bottom_k_se)]
ddi_bottom_k = (
    ddi_bottom_k[["STITCH 1", "STITCH 2"]].drop_duplicates().reset_index(drop=True)
)
ddi_bottom_k["STITCH 1"] = ddi_bottom_k["STITCH 1"].map(stitch_2_atc)
ddi_bottom_k["STITCH 2"] = ddi_bottom_k["STITCH 2"].map(stitch_2_atc)
ddi_bottom_k = (
    ddi_bottom_k.dropna()
    .explode("STITCH 1")
    .explode("STITCH 2")
    .drop_duplicates()
    .reset_index(drop=True)
)
ddi_bottom_k.columns = ["ATC i", "ATC j"]
ddi_bottom_k.to_csv(
    os.path.join(resource_directory, "processed/DDI_GAMENet.csv"), index=False
)
print(ddi_bottom_k.shape)
ddi_bottom_k.head()

(1011, 2)

     ATC i    ATC j
0  N03AE01  C03AA03
1  J05AG03  J05AF05
2  N01AX10  J02AC03
3  J02AC02  N01AX10
4  N05AD01  N06AX16

In [13]:
ddi_all = ddi[["STITCH 1", "STITCH 2"]].drop_duplicates().reset_index(drop=True)
ddi_all["STITCH 1"] = ddi_all["STITCH 1"].map(stitch_2_atc)
ddi_all["STITCH 2"] = ddi_all["STITCH 2"].map(stitch_2_atc)
ddi_all = (
    ddi_all.dropna()
    .explode("STITCH 1")
    .explode("STITCH 2")
    .drop_duplicates()
    .reset_index(drop=True)
)
ddi_all.columns = ["ATC i", "ATC j"]
ddi_all.to_csv(os.path.join(resource_directory, "processed/DDI.csv"), index=False)
print(ddi_all.shape)
ddi_all.head()

(132662, 2)

     ATC i    ATC j
0  S01AA19  N01AH01
1  S01AA19  N02AB03
2  J01CA01  N01AH01
3  J01CA01  N02AB03
4  N01AB08  R03DA05